::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; 
}

::-webkit-scrollbar-thumb {
    background: var(--blue); 
    
}

::-webkit-scrollbar-thumb:hover {
    background: var(--black); 
} 